* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
}

button {
  font: inherit;
}

.hidden {
  display: none !important;
}

/* SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: #2a3040 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #2a3040;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3a4157;
}
